/* Основные стили */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f0f2f5;
    color: #333;
    padding: 25px;
    transition: background-color 0.3s, color 0.3s;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease-in-out, background 0.3s ease-in-out, color 0.3s ease-in-out;
}

.container:hover {
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
    background: rgba(255, 255, 255, 1);
    color: #007bff;
}

h1, h2 {
    color: #007bff;
    text-align: center;
    margin-bottom: 10px;
    transition: color 0.3s ease-in-out;
}

h1:hover, h2:hover {
    color: #0056b3;
}

label {
    display: block;
    margin-top: 10px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: rgba(249, 249, 249, 0.9);
    color: #333;
    transition: background-color 0.3s, border-color 0.3s, box-shadow 0.3s;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

input:focus, textarea:focus {
    background-color: rgba(255, 255, 255, 0.9);
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background-color: rgba(0, 123, 255, 0.9);
    color: white;
    border: none;
    border-radius: 9px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}

button:hover {
    background-color: rgba(0, 86, 179, 0.9);
    transform: scale(1.04);
}

button:active {
    transform: scale(0.98);
}

p {
    margin-top: 10px;
    color: #333;
}

#messages, #chat-box {
    margin-top: 20px;
}

#chat-box {
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: rgba(255, 255, 255, 0.9);
    color: #333;
    height: 250px;
    box-sizing: border-box;
    transition: background-color 0.3s;
}

#chat-box:hover {
    background-color: rgba(255, 255, 255, 1);
}

/* Стили для прокрутки */
#chat-box::-webkit-scrollbar {
    width: 6px;
}

#chat-box::-webkit-scrollbar-thumb {
    background-color: rgba(2, 3, 4, 0.2);
    border-radius: 7px;
}

#chat-box::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 1, 2, 0.3);
}

#chat-box::-webkit-scrollbar-track {
    background: transparent;
}



.message {
    background-color: rgba(200, 236, 239, 0.9);
    color: #333;
    transition: background-color 0.3s;
    padding: 10px 15px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 70%;
    word-wrap: break-word;
    position: relative;
}



.message-sender,
.message-recipient,
.message-timestamp {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
    display: block;
}

.message.sent {
    background-color: rgba(212, 237, 218, 0.9);
    text-align: right;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    max-width: fit-content;
    word-wrap: break-word;
    align-self: flex-end;
    margin-left: auto; /* Перемещение фона сообщений вправо */
}


.message.received {
    background-color: rgba(209, 236, 241, 0.9);
    text-align: left;
    padding: 15px 15px;
    margin-bottom: 10px;
    border-radius: 25px;
    max-width: fit-content;
    word-wrap: break-word;
    align-self: flex-start;
    margin-right: auto;
}

.message:hover {
    background-color: rgba(245, 248, 250, 0.9);
}

.dark-theme {
    background-color: #222;
    color: #fff;
}

.dark-theme .container {
    background-color: rgba(51, 51, 51, 0.9);
}

.dark-theme button {
    background-color: rgba(68, 68, 68, 0.9);
    color: #ddd;
}

.dark-theme button:hover {
    background-color: rgba(85, 85, 85, 0.9);
}

.dark-theme input, .dark-theme textarea {
    background-color: rgba(85, 85, 85, 0.9);
    color: #ddd;
    border: 1px solid #444;
}

.dark-theme .message {
    background-color: rgba(51, 51, 51, 0.9);
    color: #fff;
}

.dark-theme .message:hover {
    background-color: rgba(68, 68, 68, 0.9);
}

.dark-theme h1, .dark-theme h2, .dark-theme label, .dark-theme p {
    color: #ddd;
}

.dark-theme #chat-box {
    background-color: rgba(85, 85, 85, 0.9);
    color: #ddd;
}

.dark-theme .message .message-timestamp {
    color: #aaa;
}

.message-content {
    font-size: 18px;
}

.message-sender {
    font-size: 15px;
}

.mnemonic-container:hover {
    display: -moz-flex;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    vertical-align: bottom;
}

.mnemonic-container.visible {
    overflow: visible;
    white-space: pre-wrap;
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    z-index: 0.1;
    position: relative;
}

.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message .message-timestamp {
    font-size: 0.8em;
    color: #999;
    margin-top: 5px;
    display: block;
}




.settings {
  position: fixed;
  top: 20px; /* Можете настроить отступ сверху по вашему усмотрению */
  right: 20px; /* Можете настроить отступ справа по вашему усмотрению */
  z-index: 1000; /* Устанавливаем высокий уровень z-index, чтобы кнопка была поверх других элементов */
}

.settings-menu {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s, box-shadow 0.3s;
}

.settings-menu button {
    background-color: rgba(0, 123, 255, 0.9);
    color: white;
    border: none;
    border-radius: 7px;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s, box-shadow 0.3s;
}

.settings-menu button:hover {
    background-color: rgba(0, 86, 179, 0.9);
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.settings-menu button:active {
    transform: scale(0.98);
}

.dark-theme .settings-menu {
    background-color: rgba(51, 51, 51, 0.9);
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.1);
}

.dark-theme .settings-menu button {
    background-color: rgba(68, 68, 68, 0.9);
    color: #ddd;
}

.dark-theme .settings-menu button:hover {
    background-color: rgba(85, 85, 85, 0.9);
}

#address-content {
    display: -moz-flex;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
    vertical-align: bottom;
}

#address-content:hover {
    overflow: visible;
    white-space: pre-wrap;
    background-color: rgba(240, 240, 240, 0.9);
    border: 1px solid #ccc;
    padding: 5px;
    border-radius: 5px;
    z-index: 0.1;
    position: relative;
}

#dialog-tabs {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 6px;
}

#dialog-tabs button {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 20%;
    margin-bottom: 5px;
    background-color: rgba(0, 123, 255, 0.9);
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}

#dialog-tabs button:hover {
    background-color: rgba(8, 87, 180, 0.9);
    transform: scale(1.05);
}

#dialog-tabs button:active {
    transform: scale(0.95);
}

a {
    color: #5197e3;
    transition: color 0.3s ease-in-out;
}

a:hover {
    color: #768998;
}

#back-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: rgba(123, 120, 218, 0.9);
    color: white;
    border: none;
    border-radius: 50%;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.5s;
}

#back-to-top:hover {
    background-color: rgba(25, 26, 26, 0.9);
}

#back-to-top:active {
    transform: scale(0.95);
}

/* Добавляем стили для активного диалога */
#dialog-tabs button.active {
    background-color: #83bcfa;
    color: #ffffff;
    border-color: #4f5f70;
}


.message-image {
            max-width: 200px;
            max-height: 200px;
            display: block;
            margin-top: 10px;
            cursor: pointer;
        }


/* Стили для обертки кнопки загрузки */
.upload-btn-wrapper {
  position: relative;
  overflow: hidden;
  display: inline-block;
}

/* Стили для самой кнопки */
.btn {
  border: 2px solid #3498db;
  color: #3498db;
  background-color: transparent;
  padding: 5px 15px;
  border-radius: 7px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.btn:hover {
  background-color: #3498db;
  color: white;
}

/* Стили для input[type="file"] */
#image-input {
  position: absolute;
  font-size: 100px;
  opacity: 0;
  right: 0;
  top: 0;
}

.save-button {
    max-width: fit-content;
    left: 50px;
    right: 50px;
    top: 0;
    position: absolute;
    font-size: 15px; /* Уменьшение размера текста кнопки */
    padding: 10px 15px; /* Уменьшение отступов кнопки */
    margin-top: 10px; /* Отступ сверху для кнопки */
    background-color: #527eaf; /* Цвет фона кнопки */
    color: white; /* Цвет текста кнопки */
    border: none; /* Убираем границу кнопки */
    border-radius: 6px; /* Скругляем углы кнопки */

}

.save-button:hover {
    background-color: #0a54a4; /* Цвет кнопки при наведении */
}

.modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%;
    max-height: 80%;
}

#caption {
    margin-top: 10px;
    color: #ccc;
    font-size: 20px;
    text-align: center;
}
